<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.flyaway.controllers.AddUser</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>testght</display-name>
    <servlet-name>testght</servlet-name>
    <servlet-class>testght</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testght</servlet-name>
    <url-pattern>/testght</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet</display-name>
    <servlet-name>ValidateUserServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet</servlet-name>
    <url-pattern>/ValidateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightServlet</display-name>
    <servlet-name>AddFlightServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.AddFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightServlet</servlet-name>
    <url-pattern>/AddFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetallFlightsServlet</display-name>
    <servlet-name>GetallFlightsServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.GetallFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetallFlightsServlet</servlet-name>
    <url-pattern>/GetallFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightServlet</display-name>
    <servlet-name>SearchFlightServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.SearchFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightServlet</servlet-name>
    <url-pattern>/SearchFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFlightServlet</display-name>
    <servlet-name>UpdateFlightServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.UpdateFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFlightServlet</servlet-name>
    <url-pattern>/UpdateFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFlightServlet</display-name>
    <servlet-name>DeleteFlightServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.DeleteFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFlightServlet</servlet-name>
    <url-pattern>/DeleteFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepasswordServlet1</display-name>
    <servlet-name>changepasswordServlet1</servlet-name>
    <servlet-class>com.flyaway.controllers.changepasswordServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepasswordServlet1</servlet-name>
    <url-pattern>/changepasswordServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet1</display-name>
    <servlet-name>ValidateUserServlet1</servlet-name>
    <servlet-class>com.flyaway.controllers.ValidateUserServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet1</servlet-name>
    <url-pattern>/ValidateUserServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRouteServlet</display-name>
    <servlet-name>AddRouteServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.AddRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRouteServlet</servlet-name>
    <url-pattern>/AddRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetallRoutesServlet</display-name>
    <servlet-name>GetallRoutesServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.GetallRoutesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetallRoutesServlet</servlet-name>
    <url-pattern>/GetallRoutesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRouteServlet</display-name>
    <servlet-name>SearchRouteServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.SearchRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRouteServlet</servlet-name>
    <url-pattern>/SearchRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRouteServlet</display-name>
    <servlet-name>UpdateRouteServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.UpdateRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRouteServlet</servlet-name>
    <url-pattern>/UpdateRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRouteServlet</display-name>
    <servlet-name>DeleteRouteServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.DeleteRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRouteServlet</servlet-name>
    <url-pattern>/DeleteRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateAdminServlet</display-name>
    <servlet-name>ValidateAdminServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.ValidateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateAdminServlet</servlet-name>
    <url-pattern>/ValidateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servt</display-name>
    <servlet-name>servt</servlet-name>
    <servlet-class>com.flyaway.controllers.servt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servt</servlet-name>
    <url-pattern>/servt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mainsearchservlet</display-name>
    <servlet-name>mainsearchservlet</servlet-name>
    <servlet-class>com.flyaway.controllers.mainsearchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainsearchservlet</servlet-name>
    <url-pattern>/mainsearchservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainFlightSearchServlet</display-name>
    <servlet-name>MainFlightSearchServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.MainFlightSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFlightSearchServlet</servlet-name>
    <url-pattern>/MainFlightSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlightServlet</display-name>
    <servlet-name>BookFlightServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.BookFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlightServlet</servlet-name>
    <url-pattern>/BookFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookingServlet</display-name>
    <servlet-name>SearchBookingServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.SearchBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookingServlet</servlet-name>
    <url-pattern>/SearchBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportsServlet</display-name>
    <servlet-name>ReportsServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.ReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsServlet</servlet-name>
    <url-pattern>/ReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirlinesServlet</display-name>
    <servlet-name>AirlinesServlet</servlet-name>
    <servlet-class>com.flyaway.controllers.AirlinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirlinesServlet</servlet-name>
    <url-pattern>/AirlinesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.flyaway.controllers.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>